* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d2e2e1;
  min-height: 100vh;
}

.filler {
  min-height: 50px;
}

.apptitle {
  position: fixed;
  background-color: #4c5e5e;

  height: 40px;
  width: 100%;
  background-color: #4c5e5e;

  display: flex;

  float: center;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.align {
  text-align: center;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.left {
  width: 95%;
  float: left;
  text-align: center;
}
.right {
  float: left;
  padding: 1%;
}

.apptitle-button {
  float: right;
  margin-right: 20px;

  cursor: pointer;
  color: #ffffff;
  border: 1px solid #aeaeae;
  border-radius: 30px;
  background: #605f61;
  font-size: 31px;
  font-weight: bold;
  display: block;
  line-height: 0px;
  padding: 11px 3px;

  -webkit-app-region: no-drag;
}

.apptitle-button:before {
  content: "×";
}
.apptitle-button:hover {
  content: "×";
  color: #ff0000;
}

.body {
  width: 60%;
  margin-left: 20%;
  background: #cdc0b0;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.pos {
  background-color: #f5efeb;
  margin: 2%;
  padding: 1%;
}
.rrbg {
  border: 2px solid #000;
  border-radius: 15px;
  -moz-border-radius: 15px;
}
h2 {
  font-size: 20pt;
}

.sub {
  font-style: italic;
  font-size: 15pt;
}
h4 {
  font-size: 12pt;
}
li {
  font-size: 10pt;
  text-indent: hanging;
}
ul {
  list-style-position: inside;
}
.bulletless {
  list-style-type: none;
}
.row {
  padding-left: 2%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.defn {
  background-color: #e7d7c2;
  padding: 1%;
  margin: 1%;
  float: left;
  width: 28%;
}
